/* line 3, ../sass/screen.scss */
nav.navbar {
  background-color: #fcdb00;
  height: 140px;
  box-sizing: border-box;
  line-height: 140px;
  text-align: center;
}
/* line 9, ../sass/screen.scss */
nav.navbar button {
  position: relative;
  bottom: 114px;
}

/* line 14, ../sass/screen.scss */
html {
  font-style: 62.5%;
}

/* line 17, ../sass/screen.scss */
h1 {
  display: inline;
  font: bold 3rem "Source Sans Pro", sans-serif;
}

/* line 21, ../sass/screen.scss */
.intro {
  background-color: #fcdb00;
  padding-top: 360px;
  padding-bottom: 140px;
}
/* line 25, ../sass/screen.scss */
.intro h2 {
  font: bold 3.8rem "Source Sans Pro", sans-serif;
}
/* line 28, ../sass/screen.scss */
.intro p {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 45px;
}

/* line 36, ../sass/screen.scss */
.features {
  text-align: justify;
}
/* line 39, ../sass/screen.scss */
.features h2 {
  margin-top: 120px;
  font-weight: bold;
  font-size: 3.2rem;
}
/* line 44, ../sass/screen.scss */
.features h3 {
  font-size: 2.2rem;
  font-weight: bold;
  display: inline;
}
/* line 49, ../sass/screen.scss */
.features p {
  margin-top: 40px;
  margin-bottom: 90px;
}
/* line 53, ../sass/screen.scss */
.features img {
  display: inline;
  float: left;
  margin-right: 10px;
  position: relative;
}
/* line 61, ../sass/screen.scss */
.features .margin {
  margin-bottom: 50px;
  text-align: center;
}
