/* line 4, ../sass/screen.scss */
nav.navbar {
  background-color: #fcdb00;
  height: 140px;
  box-sizing: border-box;
  line-height: 140px;
  text-align: center;
}
/* line 10, ../sass/screen.scss */
nav.navbar button {
  position: relative;
  bottom: 114px;
}

/* line 15, ../sass/screen.scss */
html {
  font-style: 62.5%;
}

/* line 18, ../sass/screen.scss */
h1 {
  display: inline;
  font: bold 3rem "Source Sans Pro", sans-serif;
  text-transform: lowercase;
}

/* line 23, ../sass/screen.scss */
.intro {
  background-color: #fcdb00;
  padding: 360px 0 140px 0;
}
/* line 26, ../sass/screen.scss */
.intro h2 {
  font: bold 3.8rem "Source Sans Pro", sans-serif;
}
/* line 29, ../sass/screen.scss */
.intro p {
  max-width: 480px;
  margin: 40px auto;
}

/* line 34, ../sass/screen.scss */
.features {
  text-align: justify;
}
/* line 37, ../sass/screen.scss */
.features h2 {
  margin-top: 120px;
  font: bold 3.2rem "Source Sans Pro", sans-serif;
}
/* line 41, ../sass/screen.scss */
.features h3 {
  font: bold 2.2rem "Source Sans Pro", sans-serif;
  display: inline;
}
/* line 45, ../sass/screen.scss */
.features p {
  margin: 40px 0 90px 0;
}
/* line 48, ../sass/screen.scss */
.features img {
  display: inline;
  float: left;
  margin-right: 10px;
  position: relative;
}
/* line 53, ../sass/screen.scss */
.features .margin {
  margin-bottom: 50px;
  text-align: center;
}

/* line 58, ../sass/screen.scss */
.pricing {
  text-align: center;
}
/* line 60, ../sass/screen.scss */
.pricing h2 {
  font: bold 3.2rem "Source Sans Pro", sans-serif;
  color: black;
}

/* line 65, ../sass/screen.scss */
.kolo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
}

/* line 72, ../sass/screen.scss */
.img1 {
  background: url("../img/myimg1.png") no-repeat 50% 50%;
}

/* line 77, ../sass/screen.scss */
.img2 {
  background: url("../img/myimg2.png") no-repeat 50% 50%;
}

/* line 82, ../sass/screen.scss */
.img3 {
  background: url("../img/myimg3.png") no-repeat 50% 50%;
}

/* line 88, ../sass/screen.scss */
.fig1 {
  background: url(../img/mykomp1.png) no-repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}

/* line 92, ../sass/screen.scss */
.fig2 {
  background: url(../img/mykomp2.png) no-repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}

/* line 97, ../sass/screen.scss */
.fig3 {
  background: url(../img/mykomp3.png) no-repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}

/* line 102, ../sass/screen.scss */
.fig4 {
  background: url(../img/mykomp4.png) no-repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}

/* line 107, ../sass/screen.scss */
.fig6 {
  background: url(../img/mykomp5.png) no-repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}

/* line 112, ../sass/screen.scss */
.fig5 {
  background: url(../img/mykomp6.png) no-repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}

/* line 117, ../sass/screen.scss */
.fig7 {
  background: url(../img/mykomp7.png) no-repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}

/* line 122, ../sass/screen.scss */
.fig8 {
  background: url(../img/mykomp8.png) no-repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}

/* line 127, ../sass/screen.scss */
.btn-flat {
  padding: 11px 30px;
  boer-radius: 0px;
  background-color: transparent;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 136, ../sass/screen.scss */
.our-works h2 {
  text-align: center;
}
/* line 139, ../sass/screen.scss */
.our-works p {
  text-align: center;
}

/* line 145, ../sass/screen.scss */
.gallery {
  text-align: center;
}
/* line 147, ../sass/screen.scss */
.gallery .fig-wrap {
  display: inline-block;
  float: none;
  text-align: none;
  margin-right: -4px;
}
